.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 98vh;
}
  
.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  align-content: center;
  padding: 4rem;
  width: 52rem;
  border: 0.2rem solid #D6D6D6;
  border-radius: 0.8rem;
  box-shadow: 0 0.3rem 1.2rem 0 rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
  font-weight: bold;
}