.loginTitle {
  margin: 0;
  font-weight: normal;
}

.loginInstruction {
  display: flex;
  flex-direction: column;
  gap: 0.4rem
}

.loginInput {
  padding: 1rem;
  line-height: 1.8rem;
  font-weight: normal;
  border: 0.1rem solid #D6D6D6;
  border-radius: 0.8rem;
}

.loginLink {
  align-self: flex-end;
}

.loginBtn {
  padding: 1.2rem;
  border: #FF8200;
  border-radius: 0.4rem;
  cursor: pointer;
  line-height: 1.6rem;
  min-width: 9.2rem;
  color: #FFF;
  background-color: #FF8200;
}