.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  align-content: center;
  padding: 4rem;
  width: 52rem;
  border: 0.2rem solid #D6D6D6;
  border-radius: 0.8rem;
  box-shadow: 0 0.3rem 1.2rem 0 rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
  font-weight: bold;
}

.login-title {
  margin: 0;
  font-weight: normal;
}

.login-instruction {
  display: flex;
  flex-direction: column;
  gap: 0.4rem
}

.login-input {
  padding: 1rem;
  line-height: 1.8rem;
  font-weight: normal;
  border: 0.1rem solid #D6D6D6;
  border-radius: 0.8rem;
}

.login-link {
  align-self: flex-end;
}

.login-btn {
  padding: 1.2rem;
  border: #FF8200;
  border-radius: 0.4rem;
  cursor: pointer;
  line-height: 1.6rem;
  min-width: 9.2rem;
  color: #FFF;
  background-color: #FF8200;
}